@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sq-title {
  text-align: center;
}
.ask-question {
  cursor: pointer;
  align-items: center;
  align-content: center;
}
.ask-que-in-body {
  border: 0ch;
  padding: 0%;
  margin: 0%;
}
.ask-title {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}
.ql-editor {
  min-height: 100px;
}

.ask-submit {
  text-align: center;
}

.ask-que-in-title:focus {
  outline: none;
}
.ask-que-in-title {
  width: 100%;
}

.float-right {
  float: right;
}
.Login-button {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 15px;
}
.sq-title {
  text-align: center;
}
.Box {
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

.Box-cur {
  cursor: pointer;
}

.box-tag {
  display: inline-block;
  margin: 3px;
  margin-left: 0;
}
